@charset "UTF-8";

#wrap{
	width:1200px;
}

.contents{
}

.contents > .main-menu{
	width:200px;
	
	background-color:cornflowerblue;

}

.contents > .main-menu > .logo{
	width:200px;
}

.contents > .main-contents{
	
	width:1000px;
}

footer{
	height:100px;
}

footer > .logo{
	width:200px;
	height:100px;
}

footer > .copyright{
	width:1000px;
	height:100px;
}